{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departaments list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Centreid</th>
                <th>Codigomec</th>
                <th>Centreoficialid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departament in departaments %}
            <tr>
                <td>{{ departament.nombre }}</td>
                <td>{{ departament.centreId }}</td>
                <td>{{ departament.codigoMec }}</td>
                <td>{{ departament.centreOficialId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departament_show', { 'id': departament.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('departament_edit', { 'id': departament.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departament_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
