{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departaments\Departaments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Centreid</th>
                <th>Codigomec</th>
                <th>Centreoficialid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departaments\Departament in departaments\Departaments %}
            <tr>
                <td><a href="{{ path('departaments_show', { 'id': departaments\Departament.id }) }}">{{ departaments\Departament.id }}</a></td>
                <td>{{ departaments\Departament.nombre }}</td>
                <td>{{ departaments\Departament.centreId }}</td>
                <td>{{ departaments\Departament.codigoMec }}</td>
                <td>{{ departaments\Departament.centreOficialId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departaments_show', { 'id': departaments\Departament.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('departaments_edit', { 'id': departaments\Departament.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departaments_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
