{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centre list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codigo Oficial</th>
                <th>Email</th>
                <th>Color</th>
                <th>Tipus centre</th>
                <th>Address_carrer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
            <tr>
                <td>{{ centre.nombre | upper }}</td>
                <td>{{ centre.codiOficial }}</td>
                <td>{{ centre.mailCentre }}</td>
                <td>{{ centre.color }}</td>
                <td>
                    {% if centre.tipusCentre is defined %}
                        {{ centre.tipusCentre.descriCat }}
                    {% endif %}
                </td>
                <td>{{ centre.address.carrer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('centre_show', { 'id': centre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('centre_edit', { 'id': centre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('centre_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
