{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centre.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ centre.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ centre.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('centre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('centre_edit', { 'id': centre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
